@import '../repository-commit/repository-commit.component';

.label {
  color: #fff;
  vertical-align: text-bottom;
  border: 0 none;
  border-radius: 3px;
}
.label:first-of-type {
  margin-left: .3rem;
}
