// all .spinner loaders on repository page (inside tabs)
/deep/ .spinner {
  $size: 50px;
  position: absolute;
  left: 50%;
  min-width: $size;
  min-height: $size;
  width: $size;
  height: $size;
  margin: 2rem $size/-2;
}

clr-tab-content /deep/ {
  // set minimum height for content inside tab, just so it looks nice even w/o any content in it
  > section {
    min-height: 6rem;
  }
}
