<md-card>
  <md-card-content>
    <md-card-title>
      <app-search
        (search)="doSearch($event)"
        [query]="searchQuery$ | async"
        [loading]="isLoading$ | async"
      ></app-search>
    </md-card-title>

  </md-card-content>
</md-card>

<md-card>
  <md-card-title>Search results</md-card-title>
  <md-card-content>
    <app-error-alert [error]="error$ | async"></app-error-alert>

    <app-repository-list [repositories]="repositories$ | async"></app-repository-list>
  </md-card-content>
</md-card>
