.card-header {
  text-align: center;
}
.card-block {
  padding-top: 0; // we have .card elements inside which have already margin-top set
  padding-bottom: 0;
}

.spinner {
  display: none;
  left: 50%;
  margin: 1.5rem -1rem ;

  &.show { display: block }
}


/deep/ .alert {
  .alert-item {
    display: block;
    padding: .75rem;
    text-align: center;
    //font-weight: bold;
  }
}
