<app-search
  (search)="doSearch($event)"
  [query]="searchQuery$ | async"
></app-search>

<div class="card">
  <div class="card-header" *ngIf="!(showingTrending$ | async)">Found repositories:</div>
  <div class="card-header" *ngIf="(showingTrending$ | async)">Trending repositories:</div>

  <div class="card-block">
    <div class="spinner spinner-md" [class.show]="isLoading$ | async"></div>

    <clr-alert *ngIf="noResults$ | async" class="no-results" clrAlertType="alert-warning" [clrAlertClosable]="false">
      <div class="alert-item">
        No results. Change your search query and try again.
      </div>
    </clr-alert>

    <app-repository-list
      [repositories]="repositories$ | async"
      (selectRepository)="selectRepository($event)"
    ></app-repository-list>
  </div>
</div>
