@import '~clarity-ui/src/utils/_colors.clarity.scss';

header {
  .branding {
    .title {
      font-size: 1.3rem;
    }
    /deep/ svg path:last-child {
      fill: #fff;
    }

    a:hover {
      .title {
        color: $clr-action-blue-light;
      }
      /deep/ svg path:last-child {
        fill: $clr-action-blue-light;
      }
    }
  }
}

.header-actions {
  span {
    align-self: center;
    margin-right: 1.5rem;
    color: $clr-dark-midtone-gray;
  }
}
