@keyframes spinner {
  to {transform: rotate(360deg)}
}

// Make the app loader a bit nicer
.app-root__loader {
    position: absolute;
    height: 24px;
    width: 24px;
    margin: 1.5rem;
    border-radius: 50%;
    border: 1px solid #673ab7;
    border-right-color: transparent;
    animation: spinner 0.8s infinite linear;
}
