@import '~clarity-ui/src/utils/_variables.clarity.scss';
@import '~clarity-ui/src/images/_icons.clarity.scss';

// Make the app loader a bit nicer
// Copied from Clarity UI
.app-root-loader {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 1.5rem;
  animation: spinner 1s linear infinite;
  padding: 0;
  background: generateSpinnerIcon();
  text-indent: 100%;
  overflow: hidden;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
