body {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 2rem;
  font-weight: normal;
}
h2 {
  font-size: 1.7rem;
  font-weight: normal;
}
h3 {
  font-size: 1.4rem;
  font-weight: normal;
}
h4 {
  font-size: 1.2rem;
  font-weight: bold;
}
h5 {
  font-size: 1rem;
  font-weight: bold;
}
.content {
  h2, h3, h4 {
    border-bottom: 1px solid #eee;
  }
}

a {
  color: #4078c0;
  text-decoration: none;
  &:hover {
    color: #3E63A8;
    text-decoration: underline;
  }
}

hr {
  height: .2rem;
  margin: 1.5rem 0;
  padding: 0;
  border: 0 none;
  background-color: #e7e7e7;
}

pre {
  overflow: auto;
  padding: 16px;
  font-size: .9rem;
  font-family: Consolas, "Andale Mono", Menlo, Monaco, "Lucida Console", "Courier New", Courier, monospace;
  color: #333;
  line-height: 1.45;
  border-radius: 3px;
  background-color: #f7f7f7;
}
