pre {
  overflow: auto;
  padding: 16px;
  font-size: .9rem;
  font-family: Consolas, "Andale Mono", Menlo, Monaco, "Lucida Console", "Courier New", Courier, monospace;
  color: #333;
  line-height: 1.45;
  border-radius: 3px;
  background-color: #f7f7f7;
}
