<div class="stats">
  <span class="label" title="Watchers">
    Watchers: {{repository.watchers.totalCount | number}}
  </span>
  <span class="label label-orange" title="Stars">
    Stars: <span class="badge">{{repository.stargazers.totalCount | number}}</span>
  </span>
  <span class="label label-light-blue" title="Forks">
    Forks: <span class="badge">{{repository.forks.totalCount | number}}</span>
  </span>
</div>

<div class="card">
  <div class="card-header">
    <a href="{{repository.owner.url}}">{{repository.owner.login}}</a>
    /
    <a href="{{repository.url}}">{{repository.name}}</a>

    <span *ngIf="repository.languages?.nodes[0]?.name" class="label label-purple" title="Primary language">
      {{repository.languages?.nodes[0]?.name}}
    </span>
  </div>

  <div class="card-block">
    <div class="card-text">{{repository.description}}</div>
  </div>

  <div class="card-footer">
    <a *ngIf="repository.homepageUrl" href="{{repository.homepageUrl}}" class="btn btn-sm btn-link" target="_blank">
      {{repository.homepageUrl}}
    </a>
    <span class="label">Last update: {{repository.pushedAt | date:'medium'}}</span>
  </div>
</div>
