<div class="stats">
  <span class="label" title="Watchers">
    Watchers: {{repository.subscribers_count | number}}
  </span>
  <span class="label label-orange" title="Stars">
    Stars: <span class="badge">{{repository.stargazers_count | number}}</span>
  </span>
  <span class="label label-light-blue" title="Forks">
    Forks: <span class="badge">{{repository.forks | number}}</span>
  </span>
</div>

<div class="card">
  <div class="card-header">
    <a href="{{repository.owner.html_url}}">{{repository.owner.login}}</a>
    /
    <a href="{{repository.html_url}}">{{repository.name}}</a>

    <span class="label label-purple" title="Primary language">
      {{repository.language}}
    </span>
  </div>

  <div class="card-block">
    <div class="card-text">{{repository.description}}</div>
  </div>

  <div class="card-footer">
    <a *ngIf="repository.homepage" href="{{repository.homepage}}" class="btn btn-sm btn-link" target="_blank">
      {{repository.homepage}}
    </a>
    <span class="label">Last update: {{repository.updated_at | date:'medium'}}</span>
  </div>
</div>
