<div class="card">
  <div class="card-block">
    <div class="card-title">
      {{repository.full_name}}
    </div>
    <div class="card-text">
      {{repository.description}}
    </div>
  </div>

  <div class="card-footer">
    <span class="label label-purple" title="Primary language">
      {{repository.language}}
    </span>
    <span class="label label-orange" title="Stars">
      Stars: <span class="badge">{{repository.stargazers_count | number}}</span>
    </span>
    <span class="label label-light-blue" title="Forks">
      Forks: <span class="badge">{{repository.forks | number}}</span>
    </span>
    <a class="label clickable" href="{{repository.owner.html_url}}" title="{{repository.owner.login}}">
      Built by:
      <img src="{{repository.owner.avatar_url}}" class="badge badge--img" alt="{{repository.owner.login}}" />
    </a>
    <span class="label">Last update: {{repository.updated_at | date:'medium'}}</span>
  </div>
</div>
