<md-card>
  <md-card-title>{{repository.full_name}}</md-card-title>
  <md-card-content>
    <p>{{repository.description}}</p>
  </md-card-content>
  <md-card-actions>
    <span class="details-language" title="Primary language">
      <md-icon>language</md-icon> {{repository.language}}
    </span>
    <span class="details-stars" title="Stars">
      <md-icon>stars</md-icon> {{repository.stargazers_count | number}}
    </span>
    <span class="details-forks" title="Forks">
      <md-icon>call_split</md-icon> {{repository.forks | number}}
    </span>
    <span class="details-built-by">
      Built by:
      <a href="{{repository.owner.html_url}}" title="{{repository.owner.login}}">
        <img src="{{repository.owner.avatar_url}}" width="20" height="20">
      </a>
    </span>
    <span class="details-updated-at">Last update: {{repository.updated_at | date:'medium'}}</span>
  </md-card-actions>
</md-card>
